.hero{
    text-align: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #ff5fdc, #8d0707)   ;
    position: relative;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 180px;
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.clock{
   width: 100%;
   height: 100%;
   background-color: rgba(13, 49, 229, 0.5);
   display: flex;
   justify-content: center;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.container::before{
    content: '';
    position: absolute;
    top: -40%;
    left: -10%;
    width: 180px;
    height: 180px;
    background-color: rgba(17, 223, 82, 0.5);
    z-index: -1;
    border-radius: 5px;
}
.container::after{
    content: '';
    position: absolute;
    bottom: -50%;
    right: -10%;
    width: 180px;
    height: 180px;
    background-color: rgba(225, 236, 16, 0.5);
    z-index: -1;
    border-radius: 50%;
}
.clock span{
    font-size: 80px;
    width:110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    position: absolute;
    font-size: 20px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
#hours::after{
    content: 'HOURS';
}
#minutes::after{
    content: 'MINUTES';
}
#seconds::after{
    content: 'SECONDS';
}